:root {
    --opacity:0;
    --opacity-time:5s;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2500px;
    cursor: url('img/personal/cursor.png'), auto;
}

#bgvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-10;
    filter:blur(5px);
    margin:0;
}
/* Header Starts */

.header {
    z-index: 99999;
    position:fixed;
    top:1vh;
    left:100vh;
}

.nav {
    margin:20px;
    width:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:30px;
    
}

.nav:hover {
    flex-grow: 1;
}



.blur {
    top:0;
    left:0;
    width:100%;
    height:77px;
    opacity:1;
    background-color: rgba(149, 146, 146, 0.2); 
    backdrop-filter: blur(10px);  
    padding: 0px;
    position:fixed;
    z-index: 99;
    margin:0;
}


.title {
    position:absolute;
    left:20px;
    margin-top:10px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: "Playwrite BE VLG", cursive;
    font-size: 32px;
    transition: font-size 2s ease, color 5s ease, transform 2s ease;
    user-select: none;
    z-index: 9999999;
    

}
.title{
    position: fixed;
}

.title:hover {
    color:gold;
    transform: translateX(-100px);
   
}

.title:active {
    font-size: 125px;
    text-wrap: stable;
    transform: translatey(200px);
    transform: translatex(-50px);

}

.title:active ~ body {
    filter:blur(100px);
}

.link {
    text-decoration: none;
    font-family: "Playwrite BE VLG", cursive;
    font-size: 100%;
    color: black;

}

/* Header Ends */
/* Body Starts */

.page {
    background-repeat: no-repeat;
    z-index: 10;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    overflow-x: hidden;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(15,100px);
    grid-template-rows: repeat(20,100px);
    gap: 10px;
    padding: 10px;
}

.intro {
    border: 1px solid;
    padding: 10px;
    position:absolute;
    top:120px;
    left:700px;
    z-index: 9999;
    backdrop-filter:blur(20px);
    font-family: "Oswald";
    font-size: 20px;
    text-justify: center;
    border-radius: 20px;
    z-index: 99999;  

}


.image {
    border-radius: 20px;
    
}

.image-container > .image-1 {
    grid-area:2/1;
    width:500px;
    z-index: 0;
    filter:blur(10px);
    opacity:var(--opacity);
    transition: opacity var(--opacity-time) ease;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
              
}
.image-1:hover {
    filter:blur(0px);
    
}

.image-container > .image-2 {
    grid-area:2/4;
    width:550px;
    z-index: 3;
    filter:blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease, border 2s ease;       
}
.image-container > .image-3 {
    grid-area:6/5;
    border:5px;
    width:600px;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-4 {
    grid-area:6/1;
    border:5px;
    width:500px;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-5 {
    grid-area:10/1;
    border:5px;
    width:600px;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-6 {
    grid-area:8/3;
    border:5px;
    width:500px;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-7 {
    grid-area:4/2;
    border:5px;
    width:400px;
    z-index: 2;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}
.image-container > .image-8 {
    grid-area:12/3;
    border:5px;
    width:400px;
    z-index: 2;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-9 {
    grid-area:14/8;
    border:5px;
    width:600px;
    z-index: 2;
    filter:blur(10px);
    opacity:var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}
.image-container > .image-10 {
    grid-area: 17/6;
    border: 5px;
    width: 600px;
    z-index: 2;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-11 {
    grid-area: 5/5;
    border: 5px;
    width: 400px; 
    z-index: 3;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-12 {
    grid-area: 3/8;
    border: 5px;
    width: 500px; 
    z-index: 4;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-13 {
    grid-area: 10/7;
    border: 5px;
    width: 360px; 
    z-index: 5;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-14 {
    grid-area: 6/9;
    border: 5px;
    width: 380px; 
    z-index: 6;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-15 {
    grid-area: 4/10;
    border: 5px;
    width: 400px; 
    z-index: 7;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-16 {
    grid-area: 8/10;
    border: 5px;
    width: 420px; 
    z-index: 8;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-17 {
    grid-area: 15/2;
    border: 5px;
    width: 440px; 
    z-index: 9;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-18 {
    grid-area: 2/10;
    border: 5px;
    width: 460px; 
    z-index: 90;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-19 {
    grid-area: 12/9;
    border: 5px;
    width: 480px; 
    z-index: 11;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-20 {
    grid-area: 6/9;
    border: 5px;
    width: 500px; 
    z-index: 9;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-21 {
    grid-area: 15/10;
    border: 5px;
    width: 520px; 
    z-index: 13;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-22 {
    grid-area: 20/6;
    border: 5px;
    width:700px; 
    z-index: 13;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}

.image-container > .image-23 {
    grid-area:21/1 ;
    border: 5px;
    width: 600px; 
    z-index: 13;
    filter: blur(10px);
    opacity: var(--opacity);
    box-sizing: border-box;
    transition: opacity var(--opacity-time) ease;
}


/*  */
.image-1:hover,
.image-2:hover,
.image-3:hover,
.image-4:hover,
.image-5:hover,
.image-6:hover,
.image-7:hover,
.image-8:hover,
.image-9:hover,
.image-10:hover,
.image-11:hover,
.image-12:hover,
.image-13:hover,
.image-14:hover,
.image-15:hover,
.image-16:hover,
.image-17:hover,
.image-18:hover,
.image-19:hover,
.image-20:hover,
.image-21:hover,
.image-22:hover,
.image-23:hover {
    transition: all 1s ease;
    z-index:10;
    filter:blur(0px);
    opacity: 1;
    border:50px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */


/* DESCRIPTION IMAGES SPRING ON HOVER */

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    pointer-events: none;
    opacity: 0.1;
}

.desc-1 {
    position: fixed;
    z-index: 9999;
    width: 500px;
    height: 300px;
    transition: opacity 5s ease;
    font-size: 100px;
    opacity: 0.1;
    top:175px ;
    left:200px ; 
    z-index: -1;
    
}
.desc-2 {
    position: fixed;
    z-index: 9999;
    width: 500px;
    height: 250px;
    transition: opacity 5s ease;
    font-size: 100px;
    opacity: 0.1;
    top: 50px ;     
    left: 750px ;
    z-index: -1; 
}
.desc-3 {
    position: fixed;
    z-index: 9999;
    width: 500px;
    height: 300px;
    transition: opacity 5s ease;
    font-size: 100px;
    opacity: 0.1;
    top:455px;
    left: 700px ;
    z-index: -1; 
}
.desc-4 {
    position: fixed;
    z-index: 9999;
    width: 500px;
    height: 300px;
    transition: opacity 5s ease;
    font-size: 80px;
    opacity: 0.1;
    top:315px;     
    left:530px;
    z-index: -1;
}

.desc-5 {
    position: fixed;
    z-index: 9999;
    width: 500px;
    height: 300px;
    transition: opacity 5s ease;
    font-size:70px;
    opacity: 0.1;
    top:195px;     
    left:945px;
    z-index: -1;
}



.image-1:hover ~ .desc-1,
.image-2:hover ~ .desc-2,
.image-3:hover ~ .desc-4,
.image-4:hover ~ .desc-1,
.image-5:hover ~ .desc-1,
.image-6:hover ~ .desc-2,
.image-7:hover ~ .desc-2,
.image-8:hover ~ .desc-4,
.image-9:hover ~ .desc-2,
.image-10:hover ~ .desc-2,
.image-11:hover ~ .desc-3,
.image-12:hover ~ .desc-3,
.image-13:hover ~ .desc-3,
.image-14:hover ~ .desc-3,
.image-15:hover ~ .desc-3,
.image-16:hover ~ .desc-3,
.image-17:hover ~ .desc-3,
.image-18:hover ~ .desc-3,
.image-19:hover ~ .desc-3,
.image-20:hover ~ .desc-3,
.image-21:hover ~ .desc-1,
.image-22:hover ~ .desc-5,
.image-23:hover ~ .desc-5 {
    opacity: 1;
    z-index: 99;
    transition: all 2s ease;
}

/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  */



.blur_footer{
    position: fixed;
    bottom:0;
    left:0;
    margin:0;
    width: 100%;
    z-index: 999;
    background-color:white ;
    opacity: 0.2;
    padding:5px;

}



.footer {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    backdrop-filter: blur(20px);
    z-index: 9999;
    color: black;
    font-family: oswald;
    padding:5px;
    user-select: none;
}








